App_WebReferences/QadService1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WebService1.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://WebService1.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://WebService1.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Product_Add_Submit">
        <s:complexType />
      </s:element>
      <s:element name="Product_Add_SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Product_Add_SubmitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Product_UPDATE_Submit">
        <s:complexType />
      </s:element>
      <s:element name="Product_UPDATE_SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Product_UPDATE_SubmitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sct_Add_Submit">
        <s:complexType />
      </s:element>
      <s:element name="Sct_Add_SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sct_Add_SubmitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PcPrice_UPDATE_Submit">
        <s:complexType />
      </s:element>
      <s:element name="PcPrice_UPDATE_SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PcPrice_UPDATE_SubmitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PoNbr_LOAD_Submit">
        <s:complexType />
      </s:element>
      <s:element name="PoNbr_LOAD_SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PoNbr_LOAD_SubmitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multprodcost_invoke">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dbno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tax" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="rate" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="dif" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="usrid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multprodcost_invokeResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Product_Add_SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:Product_Add_Submit" />
  </wsdl:message>
  <wsdl:message name="Product_Add_SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:Product_Add_SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="Product_UPDATE_SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:Product_UPDATE_Submit" />
  </wsdl:message>
  <wsdl:message name="Product_UPDATE_SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:Product_UPDATE_SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="Sct_Add_SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:Sct_Add_Submit" />
  </wsdl:message>
  <wsdl:message name="Sct_Add_SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:Sct_Add_SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="PcPrice_UPDATE_SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:PcPrice_UPDATE_Submit" />
  </wsdl:message>
  <wsdl:message name="PcPrice_UPDATE_SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:PcPrice_UPDATE_SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="PoNbr_LOAD_SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:PoNbr_LOAD_Submit" />
  </wsdl:message>
  <wsdl:message name="PoNbr_LOAD_SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:PoNbr_LOAD_SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="Multprodcost_invokeSoapIn">
    <wsdl:part name="parameters" element="tns:Multprodcost_invoke" />
  </wsdl:message>
  <wsdl:message name="Multprodcost_invokeSoapOut">
    <wsdl:part name="parameters" element="tns:Multprodcost_invokeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Product_Add_Submit">
      <wsdl:input message="tns:Product_Add_SubmitSoapIn" />
      <wsdl:output message="tns:Product_Add_SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Product_UPDATE_Submit">
      <wsdl:input message="tns:Product_UPDATE_SubmitSoapIn" />
      <wsdl:output message="tns:Product_UPDATE_SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sct_Add_Submit">
      <wsdl:input message="tns:Sct_Add_SubmitSoapIn" />
      <wsdl:output message="tns:Sct_Add_SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PcPrice_UPDATE_Submit">
      <wsdl:input message="tns:PcPrice_UPDATE_SubmitSoapIn" />
      <wsdl:output message="tns:PcPrice_UPDATE_SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PoNbr_LOAD_Submit">
      <wsdl:input message="tns:PoNbr_LOAD_SubmitSoapIn" />
      <wsdl:output message="tns:PoNbr_LOAD_SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multprodcost_invoke">
      <wsdl:input message="tns:Multprodcost_invokeSoapIn" />
      <wsdl:output message="tns:Multprodcost_invokeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://WebService1.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Product_Add_Submit">
      <soap:operation soapAction="http://WebService1.org/Product_Add_Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Product_UPDATE_Submit">
      <soap:operation soapAction="http://WebService1.org/Product_UPDATE_Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sct_Add_Submit">
      <soap:operation soapAction="http://WebService1.org/Sct_Add_Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PcPrice_UPDATE_Submit">
      <soap:operation soapAction="http://WebService1.org/PcPrice_UPDATE_Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PoNbr_LOAD_Submit">
      <soap:operation soapAction="http://WebService1.org/PoNbr_LOAD_Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multprodcost_invoke">
      <soap:operation soapAction="http://WebService1.org/Multprodcost_invoke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://WebService1.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Product_Add_Submit">
      <soap12:operation soapAction="http://WebService1.org/Product_Add_Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Product_UPDATE_Submit">
      <soap12:operation soapAction="http://WebService1.org/Product_UPDATE_Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sct_Add_Submit">
      <soap12:operation soapAction="http://WebService1.org/Sct_Add_Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PcPrice_UPDATE_Submit">
      <soap12:operation soapAction="http://WebService1.org/PcPrice_UPDATE_Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PoNbr_LOAD_Submit">
      <soap12:operation soapAction="http://WebService1.org/PoNbr_LOAD_Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multprodcost_invoke">
      <soap12:operation soapAction="http://WebService1.org/Multprodcost_invoke" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://10.3.100.54:600/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://10.3.100.54:600/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>